@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    当前时间   日期  ceshiyiba 前端开发  anglua view 推动到docker 镜像构建服务构建镜像
    @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
</div>
